# SYSTEM ENVIRONMENT
# Enable when use socker io in system.
USE_SOCKET_SERVER=true
# Show/Hide request information. Should use "true" with "development" environment.
API_LOGGING=false
# Show/Hide query execution. Should use "true" with "development" environment.
DB_LOGGING=false


# CONFIGURATION OF PROJECT
PROJECT_ID=backend-seed2
PROJECT_NAME="Backend Seed 2"
PROTOTYPE=http
DOMAIN=localhost
PORT=3000


# CONFIGURATION OF DATABASE
DB_TYPE=postgres
# Hostname, domain, ip address
DB_HOST=localhost
DB_PORT=5432
DB_NAME=backend_seed2
DB_USER=postgres
DB_PASS=123456


# CONFIGURATION OF REDIS
# Hostname, domain, ip address
REDIS_HOST=localhost
REDIS_PORT=6379


# UPLOAD
UPLOAD_DEFAULT_SIZE_LIMIT=2105344
UPLOAD_IMAGE_FORMATS=jpeg|jpg|png|gif
UPLOAD_IMAGE_SIZE_LIMIT=526336
UPLOAD_DOCUMENT_FORMATS=pdf|doc|docx|xsl|xslx
UPLOAD_DOCUMENT_SIZE_LIMIT=2105344


# SMTP
SMTP_AUTHENTICATOR_USERNAME=admin@localhost.com
SMTP_AUTHENTICATOR_PASSWORD=123456
SMTP_SENDER_NAME=Admin
SMTP_SENDER_EMAIL=admin@localhost.com
